@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 0;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
a {color: #e5e5e5; text-decoration: none;}

body {background-color: #141414;}
footer {display: block; margin: 0 auto; width: 95%; max-width: 1350px;}

/* header */
header {position: relative; z-index: 99; background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);}
header .hd_wr {display: block; margin: 0 auto; width: 95%;}
header nav {display: flex; padding: 10px 0; justify-content: space-between; align-items: center; width: 100%;}
header nav .left_nav {display: flex; align-items: center;}
header nav .left_nav .logo {width: 120px; height: 55px;}
header nav .left_nav .logo a {display: block; width: 100%;}
header nav .left_nav .logo a img {width: 100%;}
header nav .left_nav ul {display: flex; justify-content: space-between; width: 100%;}
header nav .left_nav ul li {margin-left: 18px;}
header nav .left_nav ul li a {font-size: 14px; font-weight: 400;}

header nav .right_nav {display: flex;}
header nav .right_nav li:last-child img {width: 30px; border-radius: 2px;}

/* footer */
footer {background-color: #141414;}
footer .ft_sns {}
footer .ft_sns li {}
footer .ft_sns li a {}

footer .ft_sitemap {display: flex; flex-wrap: wrap; margin: 20px 0;}
footer .ft_sitemap li {margin: 0 0 20px; width: 25%;}
footer .ft_sitemap li a {font-size: 13px; color: #808080;}

footer p {margin: 15px 0; font-size: 12px; line-height: 1.5; color: #808080;}









